.download-app-section
	box-shadow 0 0 0 100vmax #F9FDFF
	clip-path inset(0 -100vmax)
	background-color #F9FDFF
	display flex
	flex-direction column
	padding-bottom 40px

@media (min-width: $mq.lg)
	.download-app-section
		padding-bottom 50px
		flex-direction row
		gap 30px
		align-items center

@media (min-width: $mq.xl)
	.download-app-section
		padding-bottom 70px
