.download-app-section
	box-shadow 0 0 0 100vmax #F9FDFF
	clip-path inset(0 -100vmax)
	background-color #F9FDFF
	display flex
	flex-direction column

@media (min-width: $mq.lg)
	.download-app-section
		flex-direction row
		gap 30px
		align-items center
