.hero
	padding 30px 0 80px 0

@media (min-width: $mq.md)
	.hero
		display flex
		padding 50px 0 100px 0

		&__img
			margin-left -60px

@media (min-width: $mq.lg)
	.hero
		padding 90px 0 100px 0

		&__img
			margin-top -37px
			margin-right -22px

@media (min-width: $mq.xl)
	.hero
		padding 122px 0 141px 0

		&__img
			margin-left -110px
