.main-nav
	display none
	&__list
		list-style none
		margin 0
		padding 0
		display flex
		gap 40px

	&__link
		font-weight 500
		font-size 18px
		line-height 1.1
		text-decoration none
		color #333
		transition color .3s
		&:hover
			color #00b9b6

@media (min-width: $mq.lg)
	.main-nav
		display block
