.current-topics
	padding-top 40px
	padding-bottom 40px
	background-color #F9FDFF

@media (min-width: $mq.md)
	.current-topics
		padding-bottom 50px

@media (min-width: $mq.lg)
	.current-topics
		padding-top 50px

@media (min-width: $mq.xl)
	.current-topics
		padding-top 70px
		padding-bottom 80px
