.section-title
	flex none

.title
	font-size 24px
	line-height 120%
	color #0E0E0F
	margin-top 0

@media (min-width: $mq.md)
	.title
		font-size 28px

@media (min-width: $mq.lg)
	.title
		font-size 32px
