.current-topics-slider
	background-color #F9FDFF

	.swiper
		.swiper-pagination
			position static
			margin-top 25px

		.swiper-pagination-bullet
			margin 0 5px 0 0
			width 20px
			height 7px
			border-radius 5px
			background-color #44eef0
			&:last-child
				margin 0

		.swiper-pagination-bullet-active
			width 30px
			height 7px
			border-radius 5px
			background-color #03b9b6
