.hero-left-content
	display flex
	flex-direction column
	align-items center
	margin-bottom 30px

	&__text
		line-height 140%
		color #00B9B6
		margin-bottom 5px

	&__title
		text-align center
		font-size 28px
		line-height 120%
		color #0E0E0F
		margin 0 0 30px 0

	.conversation-btn
		font-size 18px
		padding 12px 30px
		margin 0

@media (min-width: $mq.md)
	.hero-left-content
		margin 0
		align-items start
		flex 0 0 60%

		&__title
			text-align left
			font-size 32px
			margin 0 0 47px 0

@media (min-width: $mq.lg)
	.hero-left-content
		&__title
			font-size 48px
			margin 0 0 32px 0

		.conversation-btn
			display block

@media (min-width: $mq.xl)
	.hero-left-content
		&__text
			font-size 18px

		&__title
			margin 0 0 50px 0
